* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --shadow: 1px 3px 8px rgb(160, 159, 159);
  --btn-shadow: 1px 2px 4px rgb(0, 0, 0);
  /* --btn-shadow: 1px 2px 4px rgb(160, 159, 159); */
  --bgColor: rgb(3, 3, 3);
  --fgColor: rgb(34, 32, 32);
  /* --bgColor: rgb(237, 242, 243); */
  --primary-color: rgb(0, 119, 255);
  --primary-color-hover: hsl(212, 100%, 40%);

  --success-color: rgb(24, 225, 24);
}

body {
  background-color: var(--bgColor);
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

.section1 {
  height: 100vh;
  width: 100%;
}

input {
  background-color: var(--fgColor);
  color: white;
}

.main-container {
  position: absolute;
  width: 90%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/*   Menu Switch 
********************************************* */

.switch-container {
  display: flex;
  margin-bottom: 15px;
}

.switch {
  background-color: var(--fgColor);
  margin-right: 10px;
  padding: 0.45rem 0.9rem;
  box-shadow: var(--shadow);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

.switch.active {
  background-color: var(--primary-color);
  /* color: var(--fgColor); */
  margin-right: 10px;
  padding: 5px 10px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  cursor: pointer;
}

.main-content-container {
  background-color: var(--fgColor);
  box-shadow: var(--shadow);
  padding: 15px 15px;
  border-radius: 8px;
  min-height: 45%;
  display: flex;
  flex-direction: column;
}

.content-container {
  background-color: var(--bgColor);
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 5px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-grow: 1;
  align-items: start;
  align-content: start;
  justify-content: center;
}

.word-container {
  display: none;
}

/*   Selected Letters 
********************************************* */

.selection-title {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.selected-letter-container {
  display: flex;
  margin: 10px 0px;
  align-items: start;
  flex-wrap: wrap;
}

.main-group {
  flex-grow: 1;
  margin-bottom: 10px;
  padding: 0px 50px 0px 10px;
}
.group-title {
  padding-right: 10px;
  display: inline-block;
  text-transform: uppercase;
}

.group-title-container {
  display: flex;
  margin-bottom: 15px;
  padding: 10px 5px;
  justify-content: space-between;
  align-items: end;
  border-bottom: 3px solid var(--primary-color);
}

.clear-button {
  background-color: var(--fgColor);
  box-shadow: var(--btn-shadow);
  text-transform: uppercase;
  padding: 0.25rem 0.7rem;
  display: flex;
  align-items: center;
  color: var(--fgColor);
  background-color: hsl(348, 83%, 47%);
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}
.clear-button:hover {
  background-color: hsl(348, 83%, 40%);
}

.group-name {
  min-width: 15%;
}

.group-container {
  display: flex;
  flex-grow: 0;
  align-items: center;
}

.selected-letter {
  /* background-color: white; */
  background-color: var(--fgColor);
  box-shadow: var(--btn-shadow);
  padding: 3px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 2px 3px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selected-letter.selected {
  background-color: var(--primary-color);
  color: white;

  /* color: var(--fgColor); */
}

.selected-letter.selected:hover {
  background-color: var(--primary-color-hover);
}

.selected-letter:hover {
  background-color: hsl(0, 0%, 91%);
}

/*   Main Content 
********************************************* */

.item-container h3 {
  text-align: center;
}
.item-container {
  background-color: var(--fgColor);
  box-shadow: var(--btn-shadow);
  padding: 8px 10px;
  border-radius: 5px;
  margin: 5px;
  animation: append-animate 0.3s linear;
}

.item-container:hover {
  background-color: red;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.item-container.correct {
  border: 2px solid var(--success-color);
  transition: all 0.1s;
}
.item-container.error {
  border: 2px solid red;
  transition: all 0.1s;
}

.form-input {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: large;
}

.form-input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.form-input.error {
  border-bottom: 2px solid red;
}

.form-input.correct {
  border-bottom: 2px solid var(--success-color);
}

.animate-container {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 34%, var(--primary-color) 65%) top;
  background-size: 100% 300%;
  transition: 0.5s ease-out;
}

.animate-container:hover {
  background-position: bottom;
  color: var(--fgColor);
}
